@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: white;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(86, 84, 84);
  padding: 10px;
  border-bottom: 3px solid rgb(255, 255, 255);
  position:fixed;
  margin-top: -50px;
  width: 1570px;
  
}
.nav-links{
  text-decoration: none;
  color: white;
  margin: 6px 15px ;
  font-size: 25px;
}
.navbarh1{
  color: white;
  margin: 5px 6px;
  font-size: 30px;
  font-weight: bold;
  font-family:cursive ;
}
.main{
  text-align: center;
}
.add-post{
  border: solid rgb(65, 189, 59) 2px;
  padding-bottom: 20px;
  max-width: 900px;
  border-radius: 10px;
  color: white;
  margin-bottom: 100px;
  margin-left: 350px;
  margin-top: 50px;
}
input{
  border-radius: 5px;
  
} */
