body {
  margin: 0;
  background-color: rgb(47, 45, 45);
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(86, 84, 84);
  padding: 10px;
  border: solid black 0px 0px 50px 0px;
  
}
.nav-links{
  text-decoration: none;
  color: white;
  margin: 6px 15px ;
  font-size: 25px;
}
.navbarh1{
  color: white;
  margin: 5px 6px;
  font-size: 30px;
  font-weight: bold;
  font-family:cursive ;

}